<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet" >
    <link href="{{url_for('static', filename='pure.css')}}" rel="stylesheet" >
    <style>
    /*
	.crop {
    width: 200px;
    height: 250px;
    overflow: hidden;
	}
	.crop img {
    width: 400px;
    height: 300px;
    margin: 0 0 0 0px;
	}
	*/
	.pure-img-responsive {
    max-width: 100%;
    height: 300px;
	}
	.padded {
	padding: 50px;
	}
	</style>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script>
	function geoLocate() {

  if (!navigator.geolocation){
    console.log("Geolocation is not supported by your browser");
    return;
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    console.log('Latitude is ' + latitude + ' <br>Longitude is ' + longitude);
    //ajax send to python
    $.ajax({
    	type: 'POST',
    	url: '/home',
    	dataType: 'json',
    	data: JSON.stringify({latitude: latitude, longitude: longitude}),
    	contentType: 'application/json;charset=UTF-8'
    });
  };

  function error() {
    console.log("Unable to retrieve your location");
  };

  console.log("Locating...");

  navigator.geolocation.getCurrentPosition(success, error);

};

geoLocate()
</script>
</head>

<body>
    <div class="home-menu pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading">cowsource</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Make Post</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Find New</a></li>
        </ul>
    </div>

    <div class="pure-g">
    	<div class="pure-u-1-3" align="center">
    		<h1>Near you in {{location}}</h1>
    	</div>
    </div>

	{% if json|length == 0 %}
	<div class="pure-g">
		<div class="pure-u-1-2" align="center">
	<p>No posts near you, sorry!</p>
		</div>
	</div>
	{% else %}
	<div class="l-content">
	{% for row_no in range(json|length % 4 + 1) %}
	<div class="pricing-tables pure-g">
		{% for post_no in range(4) %}
		{% if (row_no * 4 + post_no) < json|length %}
		<div class="pure-u-1-4">
            <div class="pricing-table pricing-table-free">
            		<tr>
            			<td>	
            				<a href="{{url_for('showpost',idp=json[row_no * 4 + post_no]['_id'])}}">
            				<img class="pure-img-responsive" src="{{json[row_no * 4 + post_no]['file']}}">
            				</a>
            			</td>
            		</tr>
            		<tr>
            			<td class="padded">
            				<b>{{json[row_no * 4 + post_no]['name']}}</b> <i>from</i> 
            				<b>{{json[row_no * 4 + post_no]['restaurant']['name']}}</b>
            			</td>
            		</tr>
            </div>
        </div>
        {% endif %}
        {% endfor %}
	{% endfor %}
	
	{% endif %}

	<!--

    <div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1-4">
            <div class="pricing-table pricing-table-free">
            		<tr>
            			<td>	
            				<img class="pure-img-responsive" src="https://i.imgur.com/rKRJ0aW.jpg">
            			</td>
            		</tr>
            		<tr>
            			<td>
            				<p>Cat</p>
            			</td>
            		</tr>
            </div>
        </div>
        <div class="pure-u-1-4">
            <div class="pricing-table pricing-table-free">
            		<tr>
            			<td>	
            				<img class="pure-img-responsive" src="https://i.imgur.com/IDdzt2d.jpg">
            			</td>
            		</tr>
            		<tr>
            			<td>
            				<p>Another Cat</p>
            			</td>
            		</tr>
            </div>
        </div>
    </div>
        <div class="pricing-tables pure-g">
        <div class="pure-u-1-4">
            <div class="pricing-table pricing-table-free">
            		<tr>
            			<td>	
            				<img class="pure-img-responsive" src="https://i.imgur.com/rKRJ0aW.jpg">
            			</td>
            		</tr>
            		<tr>
            			<td>
            				<p>Cat</p>
            			</td>
            		</tr>
            </div>
        </div>
        <div class="pure-u-1-4">
            <div class="pricing-table pricing-table-free">
            		<tr>
            			<td>	
            				<img class="pure-img-responsive" src="https://i.imgur.com/IDdzt2d.jpg">
            			</td>
            		</tr>
            		<tr>
            			<td>
            				<p>Another Cat</p>
            			</td>
            		</tr>
            </div>
        </div>
    </div>

	</div>

	!-->

</body>
</html>