<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
function geoLocate() {

  if (!navigator.geolocation){
    console.log("Geolocation is not supported by your browser");
    return;
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    console.log('Latitude is ' + latitude + ' <br>Longitude is ' + longitude);
    //ajax send to python
    $.ajax({
    	type: 'POST',
    	url: '/home',
    	data: JSON.stringify({latitude: latitude, longitude: longitude}),
    	contentType: 'application/json;charset=UTF-8'
    });
  };

  function error() {
    console.log("Unable to retrieve your location");
  };

  console.log("Locating...");

  navigator.geolocation.getCurrentPosition(success, error);

};

geoLocate()
</script>
</head>
<body>
Hello World
</body>
</html>
