<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Write Post</title>

    <link href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link href="/static/pure.css" rel="stylesheet" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
      .l-box {
        padding: 0.5em;
      }
      .poster {
      word-break: break-all;
      word-wrap: break-word;
      }
      .pure-img-responsive {
      max-width: 100%;
      height: 300px;
      }
      .padded {
      padding: 50px;
      }
    </style>
</head>

<body>
    <div class="home-menu pure-menu pure-menu-horizontal">
        <a href="{{url_for('showposts')}}" class="pure-menu-heading">cowsource</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{{url_for('home')}}" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="{{url_for('about')}}" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="{{url_for('makepost')}}" class="pure-menu-link">Make Post</a></li>
            <li class="pure-menu-item"><a href="{{url_for('showposts', limi=30)}}" class="pure-menu-link">Find New</a></li>
            <form class="pure-form pure-menu-item">
              <fieldset>
                <input type="text" name="query" placeholder="Search by name or tags">
                <button name="search" type="submit" class="pure-button pure-button-primary">Search</button>
              </fieldset>
            </form>
        </ul>
    </div>

    <div class="pure-g">
      <div class="pure-u-1-3" align="center">
        <h1>{{display_msg}}</h1>
      </div>
    </div>

    {% if posts|length == 0 %}
      <div class="pure-g">
      <div class="pure-u-1-2" align="center">
        <p>No Results</p>
      </div>
      </div>
    {% else %}
      <div class="l-content">
      {% for row_no in range(posts|length % 4 + 1) %}
        <div class="pricing-tables pure-g">
          {% for post_no in range(4) %}
            {% if (row_no * 4 + post_no) < posts|length %}
              <div class="pure-u-1-4">
              <div class="pricing-table pricing-table-free">
                <tr>
                  <td>  
                    <a href="{{url_for('showpost',idp=posts[row_no * 4 + post_no]['_id'])}}">
                    <img class="pure-img-responsive" src="{{posts[row_no * 4 + post_no]['file']}}">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="padded">
                    <b>{{posts[row_no * 4 + post_no]['name']}}</b> <i>from</i> 
                    <b>{{posts[row_no * 4 + post_no]['restaurant']}}</b>
                  </td>
                </tr>
              </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    {% endif %}



    <div class="pure-g">
      {% for post in posts %}
      <div class="pure-u-1 pure-u-lg-1-4">
      {% for posty in postrow %}
      <div class="l-box">
	<a href="{{url_for('showpost', idp = posty['_id'])}}">
	  <img src="{{posty['file']}}" width=100% height=100%></img></a>
	  <div class="pure-g poster">
	  <div class="pure-u-1-2">
	    <p>{{posty['name']}}<br><a href="http://yelp.com/biz/{{posty['yelpid']}}">{{posty['yelpname']}}</a></p></div>
	    <div class="pure-u-1-2">
	      <p id="likes{{posty['_id']}}" onclick="like({{posty['uid']}},{{posty['_id']}})">{{posty['likes']|length}} likes<p><p>
		Tags:{% for tag in posty['tags'] %}
		{{tag}}
		{% endfor %}
	      </p>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
     {% endfor %}
    </div>
    <script>
      $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	  
	  function like(uid,pid){
	  $.getJSON($SCRIPT_ROOT + "/like", {idu: uid, idp: pid },
	  function(likes)
	  {$("#likes"+pid).text(likes.likes + ' likes'); console.log(likes);}
	  )
	  
      }
    </script>
</body>
</html>


<!---<html>
  <head>
  </head>
  <body>
    {% for posty in postsinrange %}
    <span>id: {{posty['_uid']}}</span>
    <span>tags: {{posty['tags']}}</span>
    <span>likes: {{posty['likes']}}</span>
    <span>name: {{posty['name']}}</span>
    <span>price: {{posty['price']}}</span>
    <span>desc: {{posty['description']}}</span>
    <span>file: {{posty['file']}}</span>
    <span>uid: {{posty['uid']}}</span>
    <span>yelpid: {{posty['yelpid']}}</span>
    {% endfor %}
  </body>
  </html>
!-->
