<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Write Post</title>

    <link href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet" >
    <link href="{{url_for('static', filename='pure.css')}}" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  console.log({{request.script_root}})
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  console.log($SCRIPT_ROOT)
  $(function() {
 
    $( "#restaurant" ).autocomplete({
      minLength: 0,
      //source: rests,
      source: $SCRIPT_ROOT + "/autocomplete",
      focus: function( event, ui ) {
        $( "#restaurant" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#restaurant" ).val( ui.item.label );
        $( "#restaurant-id" ).val( ui.item.id );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
        var d = document.getElementById("ui-id-1");
        if ( !$("#ui-id-1").hasClass("pure-menu-list") ){
            $("#ui-id-1").addClass(" pure-menu-list");
        }
      return $( "<li class='pure-menu-item'>" )
        .append( "<a>" + item.label + "<br>" + item.address + "</a>" )
        .appendTo( ul );
    };
  });
  </script>
  <style>
  .ui-autocomplete .ui-menu-item{
    background: #ffffff;
    padding: 5px;
    border: 1px;
}
  
  </style>
</head>

<body>
    <div class="home-menu pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading">cowsource</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Make Post</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Find New</a></li>
        </ul>
    </div>
    <div class="pure-g">
    <div class="pure-u-1-2">

    <form class="post-form pure-form pure-form-aligned" method = "POST">
    <fieldset>
        <div class="pure-control-group">
            <label for="login">Name</label>
            <input name="name" type="text" placeholder="Food Name">
        </div>
        <div class="pure-control-group">
            <label for="name">URL</label>
            <input name="path" type="text" placeholder="URL of image">
        </div>
        <!--
        <div class="pure-control-group">
            <label for="password">Restaurant</label>
            <input name="rest" type="text" placeholder="Restaurant">
        </div>
        !-->
        <div class="pure-control-group" id="restaurant-label">
            <label for="restaurant">Restaurant</label>
            <input name="rest" type="text" placeholder="Restaurant" id="restaurant">
            <input type="hidden" id="restaurant-id">
        </div>

        <div class="pure-control-group">
            <label for="login">Price</label>
            <input name="price" type="text" placeholder="$$$cash money">
        </div>
        <div class="pure-control-group">
            <label for="login">Description</label>
            <textarea name="description" class="pure-input-1-2" placeholder=""></textarea>
        </div>
        <div class="pure-control-group">
            <label for="login">Tags</label>
            <input name="tags" type="text" placeholder="Separate tags with ','">
        </div>
        <div class="pure-controls">
            <button name="login" value="login" type="submit" class="pure-button pure-button-primary">Post</button>
        </div>
    </div>
    </div>
        <!--
        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
            <label for="foo">Supercalifragilistic Label</label>
            <input id="foo" type="text" placeholder="Enter something here...">
        </div>
        !-->
</body>
</html>